<div class="container">
  <div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre del pais</th>
          <th>Población</th>
          <th>Porcentaje de la población</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="countries.length; else NotFoundCountries">
          <tr *ngFor="let data of countries">
            <td>{{ data._id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.population | number : "1.0" }}</td>
            <td>{{ data.percentage }} %</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="search-container">
    <h2>Buscador de paises</h2>
    <div class="input-container">
      <input
        type="text"
        placeholder="Busque un pais"
        [formControl]="searchCountry"
      />
      <button (click)="btnSearchCountry()">Buscar</button>
    </div>
  </div>
</div>

<ng-template #NotFoundCountries>
  <h4>No se encontraron resultados</h4>
</ng-template>
