<div class="container">
  <div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Nombre del pais</th>
          <th>Población</th>
          <th>Porcentaje de la población</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="countries.length; else NotFoundCountries">
          <tr *ngFor="let data of countries">
            <td>{{ data.name }}</td>
            <td>{{ data.population }}</td>
            <td>{{ data.percentage }} %</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="input-container">
    <h2>Buscador de paises</h2>
    <input
      type="text"
      placeholder="Busque un pais"
      [formControl]="searchCountry"
    />
  </div>
</div>

<ng-template #NotFoundCountries>
  <h4>No se encontraron resultados</h4>
</ng-template>
